<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Онлайн магазин</title>
  <!-- Підключення Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Онлайн магазин</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html.erb">Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="views/products/index.html">Продукти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cart.html.erb">Кошик</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html.erb">Про нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html.erb">Контакти</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- Ваш вміст сторінки тут -->
  <h1>Ласкаво просимо до нашого онлайн магазину!</h1>
</div>

<!-- Підключення Bootstrap JS (необов'язково, якщо не використовуєте функціонал Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
